.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23288C; /* Fondo azul oscuro */
    padding: 10px 20px;
    border-bottom: 2px solid #003366; /* Borde inferior */
    width: 100vw; /* Ancho completo de la ventana */
    box-sizing: border-box; /* Para que el padding no afecte al ancho total */
    margin: 0; /* Eliminar cualquier margen */
}

.logo {
    height: 50px;
}

.company-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 13, 255); /* Texto en blanco */
}

.menu-bar {
    font-size: 1em;
}

p-menubar {
    background-color: transparent;
    border: none;
}

p-menubutton {
    cursor: pointer;
    color: rgb(0, 0, 0); /* Color blanco para los botones */
}
