/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;  /* Eliminamos el margen global */
    padding: 0; /* Eliminamos el padding global */
}

/* Estilos para el header y navbar */
app-header, app-navbar {
    margin: 0;
    padding: 0;
    display: block;
}

/* Ajustes para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;  /* Ajuste de margen superior */
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Ajuste para que el contenido no se encime con la navbar */
.content {
    margin-top: 20px;  /* Ajustamos el margen para no chocar con la navbar */
    padding: 20px;
}
