/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Ajustes para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;  /* Ajuste de margen superior para que no se encime con la navbar */
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Ajuste para que el contenido no se encime con la navbar */
.content {
    margin-top: 60px;  /* Asegura que el contenido esté por debajo de la navbar */
    padding: 20px;
}

